In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
import seaborn as sns

In [5]:
gd=pd.read_csv('Glassdoor_DS.csv')

In [6]:
gd.head()

,Company Name,Competitors,Founded,Headquarters,Industry,Job Description,Job Title,Location,Rating,Revenue,Salary Estimate,Sector,Size,Type of ownership
0,Amrock\n3.6,-1,1997,"Detroit, MI",Real Estate,Preferred Qualifications\nMasters degree or do...,Data Scientist,"Detroit, MI",3.6,$500 million to $1 billion (USD),$61K-$77K (Glassdoor est.),Real Estate,1001 to 5000 employees,Company - Private
1,ManTech\n4.1,-1,1968,"Herndon, VA",Research & Development,"Secure our Nation, Ignite your Future\n\nSumma...",Data Scientist,"Chantilly, VA",4.1,$1 to $2 billion (USD),$61K-$77K (Glassdoor est.),Business Services,5001 to 10000 employees,Company - Public
2,Mars\n3.9,-1,1911,"Mc Lean, VA",Food & Beverage Manufacturing,JOB CATEGORY:\n\nInformation Services\n\nREQUI...,Data Scientist,New York State,3.9,$10+ billion (USD),$61K-$77K (Glassdoor est.),Manufacturing,10000+ employees,Company - Private
3,Parkland Center for Clinical Innovation\n4.2,-1,2012,"Dallas, TX",IT Services,"Looking for your next opportunity? If so, choo...",Data Engineer - PCCI,"Dallas, TX",4.2,Unknown / Non-Applicable,$61K-$77K (Glassdoor est.),Information Technology,1 to 50 employees,Nonprofit Organization
4,Affinity Solutions\n2.9,"Commerce Signals, Cardlytics, Yodlee",1998,"New York, NY",Advertising & Marketing,Data Scientist\nAffinity Solutions / Marketing...,Data Scientist,"New York, NY",2.9,Unknown / Non-Applicable,$61K-$77K (Glassdoor est.),Business Services,51 to 200 employees,Company - Private

In [9]:
list(gd.columns)

['Company Name',
 'Competitors',
 'Founded',
 'Headquarters',
 'Industry',
 'Job Description',
 'Job Title',
 'Location',
 'Rating',
 'Revenue',
 'Salary Estimate',
 'Sector',
 'Size',
 'Type of ownership']

In [10]:
gd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 14 columns):
Company Name         2000 non-null object
Competitors          2000 non-null object
Founded              2000 non-null int64
Headquarters         2000 non-null object
Industry             2000 non-null object
Job Description      2000 non-null object
Job Title            2000 non-null object
Location             2000 non-null object
Rating               2000 non-null float64
Revenue              2000 non-null object
Salary Estimate      2000 non-null object
Sector               2000 non-null object
Size                 2000 non-null object
Type of ownership    2000 non-null object
dtypes: float64(1), int64(1), object(12)
memory usage: 218.8+ KB

In [12]:
gd.shape

(2000, 14)

### parse salary

In [18]:
gd['Salary Estimate'].value_counts()

$83K-$101K (Glassdoor est.)     275
$36K-$85K (Glassdoor est.)       96
$93K-$123K (Glassdoor est.)      64
$92K-$101K (Glassdoor est.)      64
$76K-$109K (Glassdoor est.)      64
$59K-$97K (Glassdoor est.)       64
$80K-$90K (Glassdoor est.)       64
$31K-$63K (Glassdoor est.)       64
$58K-$98K (Glassdoor est.)       64
$121K-$147K (Glassdoor est.)     64
$59K-$100K (Glassdoor est.)      64
$61K-$99K (Glassdoor est.)       64
$83K-$106K (Glassdoor est.)      64
$74K-$124K (Glassdoor est.)      64
$110K-$163K (Glassdoor est.)     64
$53K-$71K (Glassdoor est.)       64
$96K-$128K (Glassdoor est.)      64
$61K-$77K (Glassdoor est.)       61
$111K-$156K (Glassdoor est.)     32
$61K-$97K (Glassdoor est.)       32
$67K-$109K (Glassdoor est.)      32
$109K-$152K (Glassdoor est.)     32
$38K-$59K (Glassdoor est.)       32
$94K-$139K (Glassdoor est.)      32
$77K-$136K (Glassdoor est.)      32
$125K-$141K (Glassdoor est.)     32
$115K-$133K (Glassdoor est.)     32
$100K-$160K (Glassdoor est.)     32
$99K-$141K (Glassdoor est.)      32
$109K-$129K (Glassdoor est.)     32
$115K-$145K (Glassdoor est.)     32
$145K-$182K (Glassdoor est.)     32
$111K-$123K (Glassdoor est.)     32
$94K-$121K (Glassdoor est.)      32
$75K-$106K (Glassdoor est.)      32
$99K-$112K (Glassdoor est.)      32
$110K-$140K (Glassdoor est.)     32
Name: Salary Estimate, dtype: int64

If we have an value in our dependant veriable we drop that line

In [23]:
gd=gd[gd['Salary Estimate']!='-1']

Remove (Glassdoor est.) from Salary Estimate

In [25]:
salary=gd['Salary Estimate'].apply(lambda x : x.split("(")[0] )

Replace the 'K' and '$' by  ""

In [28]:
salary=salary.apply(lambda x: x.replace("K","").replace('$',''))

Get the maximum,minimum and average salary and addd them to the data frame as integers

In [39]:
gd['min_salary']=salary.apply(lambda x:int(x.split('-')[0]))
gd['max_salary']=salary.apply(lambda x:int(x.split('-')[1]))
gd['avg_salary']=(min_salary+max_salary)/2

In [53]:
#gd[gd['Salary Estimate'].str.contains('Per Hour')]

### Clean company name

In [59]:
gd[gd['Rating']==-1]

,Company Name,Competitors,Founded,Headquarters,Industry,Job Description,Job Title,Location,Rating,Revenue,Salary Estimate,Sector,Size,Type of ownership,min_salary,max_salary,avg_salary
37,Bridgerock Data,-1,-1,"Gainesville, FL",-1,Company Description\n\nFounded in Silicon Vall...,Data Scientist,"Gainesville, FL",-1.0,Unknown / Non-Applicable,$61K-$99K (Glassdoor est.),-1,1 to 50 employees,Unknown,61,99,80.0
118,Bridgerock Data,-1,-1,"Gainesville, FL",-1,Company Description\n\nFounded in Silicon Vall...,Data Analyst,"Gainesville, FL",-1.0,Unknown / Non-Applicable,$59K-$97K (Glassdoor est.),-1,1 to 50 employees,Unknown,59,97,78.0
124,Decode_M,-1,-1,"New York, NY",-1,Decode_M\n\nhttps://www.decode-m.com/\n\nData ...,Data Science Manager,"New York, NY",-1.0,Unknown / Non-Applicable,$59K-$97K (Glassdoor est.),-1,1 to 50 employees,Unknown,59,97,78.0
165,Get Me the Gig,-1,2017,"Rohnert Park, CA",IT Services,Please be a US Citizen or Legal Permanent Resi...,Data Scientist,"Foster City, CA",-1.0,Less than $1 million (USD),$110K-$163K (Glassdoor est.),Information Technology,1 to 50 employees,Company - Private,110,163,136.5
182,CA-One Tech Cloud,-1,2017,"Fremont, CA",IT Services,Position Title: Principal Data Scientist\nLoca...,Principal Data Scientist with over 10 years ex...,"San Francisco, CA",-1.0,$5 to $10 million (USD),$110K-$163K (Glassdoor est.),Information Technology,51 to 200 employees,Company - Private,110,163,136.5
240,Seen by Indeed,-1,-1,"Austin, TX",-1,With one application you can be considered for...,Data Scientist,"Pittsburgh, PA",-1.0,Unknown / Non-Applicable,$59K-$100K (Glassdoor est.),-1,Unknown,Company - Private,59,100,79.5
259,Trovetechs Inc,-1,-1,"Hillsborough, NJ",-1,Greetings from Trovetechs!!!\n\nÂ\n\nWe have a...,Data Scientist,"San Francisco, CA",-1.0,Unknown / Non-Applicable,$74K-$124K (Glassdoor est.),-1,Unknown,Company - Private,74,124,99.0
303,BlackLine Systems,-1,-1,"Markham, Canada",-1,Responsibilities:\nBring Creativity to Data pr...,Data Scientist,"Pleasanton, CA",-1.0,Unknown / Non-Applicable,$92K-$101K (Glassdoor est.),-1,1 to 50 employees,Unknown,92,101,96.5
305,CA-One Tech Cloud,-1,2017,"Fremont, CA",IT Services,Position Title: Principal Data Scientist\nLoca...,Principal Data Scientist with over 10 years ex...,"San Francisco, CA",-1.0,$5 to $10 million (USD),$92K-$101K (Glassdoor est.),Information Technology,51 to 200 employees,Company - Private,92,101,96.5
306,Bond,-1,2019,"San Francisco, CA",Financial Analytics & Research,We believe the future of money is integrated a...,Data Scientist,"San Francisco, CA",-1.0,Unknown / Non-Applicable,$92K-$101K (Glassdoor est.),Finance,1 to 50 employees,Company - Private,92,101,96.5
327,Trove Techs,-1,-1,-1,-1,Greetings from Trovetechs!!! We have an immedi...,Data Scientist,"San Francisco, CA",-1.0,-1,$96K-$128K (Glassdoor est.),-1,-1,-1,96,128,112.0
345,Garner Health,-1,-1,"Marina del Rey, CA",-1,Garner Health is a seed-stage health tech star...,Data Scientist,"New York, NY",-1.0,Unknown / Non-Applicable,$96K-$128K (Glassdoor est.),-1,Unknown,Company - Public,96,128,112.0
358,Modulus Consulting LLC,-1,-1,"San Francisco, CA",-1,Job Description\nBackground\n\nWe are a boutiq...,Data Scientist,"Crystal Lake, IL",-1.0,Unknown / Non-Applicable,$125K-$141K (Glassdoor est.),-1,1 to 50 employees,Company - Private,125,141,133.0
364,Kforce Technology Staffing,-1,-1,-1,-1,"RESPONSIBILITIES Kforce's client in Stamford, ...",Data Scientist,"Stamford, CT",-1.0,-1,$125K-$141K (Glassdoor est.),-1,-1,-1,125,141,133.0
389,Talent Asset,-1,-1,"South Orange, NJ",-1,Key Attributes:\nExtensive Modeling experience...,Data Scientist,"New York, NY",-1.0,Unknown / Non-Applicable,$145K-$182K (Glassdoor est.),-1,1 to 50 employees,Company - Private,145,182,163.5
392,Gayathri's Sandbox,-1,-1,-1,-1,Experiment engineers will be expected to help ...,Data Scientist,"Menlo Park, CA",-1.0,-1,$145K-$182K (Glassdoor est.),-1,-1,-1,145,182,163.5
399,Point72 Ventures,-1,-1,-1,-1,About Our AI/ML Team\n\nOur mission is to buil...,Data Scientist,"Palo Alto, CA",-1.0,-1,$145K-$182K (Glassdoor est.),-1,-1,-1,145,182,163.5
407,SentiLink,-1,-1,-1,-1,"As a Data Scientist at SentiLink, you will be ...",Data Scientist,"San Francisco, CA",-1.0,-1,$145K-$182K (Glassdoor est.),-1,-1,-1,145,182,163.5
416,Bridgerock Data,-1,-1,"Gainesville, FL",-1,Company Description\n\nFounded in Silicon Vall...,Data Scientist,"Gainesville, FL",-1.0,Unknown / Non-Applicable,$61K-$99K (Glassdoor est.),-1,1 to 50 employees,Unknown,61,99,80.0
417,Edward Daniels Group,-1,2007,"New York, NY",IT Services,Are you a Data Scientist that is interested in...,Data Scientist - Leading Quant Hedge Fund,"New York, NY",-1.0,$1 to $5 million (USD),$61K-$99K (Glassdoor est.),Information Technology,1 to 50 employees,Company - Private,61,99,80.0
439,B4Corp,-1,-1,"Leesburg, VA",IT Services,Description:\n\nPosition Requires a Top Secret...,Data Scientist,"Reston, VA",-1.0,Unknown / Non-Applicable,$61K-$99K (Glassdoor est.),Information Technology,51 to 200 employees,Company - Private,61,99,80.0
478,Seen by Indeed,-1,-1,"Austin, TX",-1,With one application you can be considered for...,Data Scientist,"Pittsburgh, PA",-1.0,Unknown / Non-Applicable,$36K-$85K (Glassdoor est.),-1,Unknown,Company - Private,36,85,60.5
529,OneThree Biotech,-1,-1,"New York, NY",-1,OneThree Biotech is a VC backed startup workin...,Lead Data Engineer,"New York, NY",-1.0,Unknown / Non-Applicable,$53K-$71K (Glassdoor est.),-1,1 to 50 employees,Unknown,53,71,62.0
546,Talent Asset,-1,-1,"South Orange, NJ",-1,Key Attributes:\nExtensive Modeling experience...,Data Scientist,"New York, NY",-1.0,Unknown / Non-Applicable,$58K-$98K (Glassdoor est.),-1,1 to 50 employees,Company - Private,58,98,78.0
548,Pactera Edge,-1,-1,-1,-1,"Location: Redmond, WA\nClient: Microsoft (Un-M...",Data Scientist,"Redmond, WA",-1.0,-1,$58K-$98K (Glassdoor est.),-1,-1,-1,58,98,78.0
549,Pactera Edge,-1,-1,-1,-1,"Location: Redmond, WA\nClient: Microsoft (Un-M...",Data Scientist,"Redmond, WA",-1.0,-1,$58K-$98K (Glassdoor est.),-1,-1,-1,58,98,78.0
552,Gayathri's Sandbox,-1,-1,-1,-1,Experiment engineers will be expected to help ...,Data Scientist,"Menlo Park, CA",-1.0,-1,$58K-$98K (Glassdoor est.),-1,-1,-1,58,98,78.0
569,Point72 Ventures,-1,-1,-1,-1,About Our AI/ML Team\n\nOur mission is to buil...,Data Scientist,"Palo Alto, CA",-1.0,-1,$58K-$98K (Glassdoor est.),-1,-1,-1,58,98,78.0
572,Advanced Regenerative Manufacturing Institute,-1,-1,-1,-1,"Data Scientist\n\nLocation: Manchester, NH\n\n...",Data Scientist,"Manchester, NH",-1.0,-1,$58K-$98K (Glassdoor est.),-1,-1,-1,58,98,78.0
573,Amazon Corporate LLC,-1,-1,-1,-1,At Amazon we strive to be earth's most custome...,Data Scientist,"Seattle, WA",-1.0,-1,$58K-$98K (Glassdoor est.),-1,-1,-1,58,98,78.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1507,Gayathri's Sandbox,-1,-1,-1,-1,Experiment engineers will be expected to help ...,Data Scientist,"Menlo Park, CA",-1.0,-1,$80K-$90K (Glassdoor est.),-1,-1,-1,80,90,85.0
1508,Gayathri's Sandbox,-1,-1,-1,-1,Experiment engineers will be expected to help ...,Data Scientist,"Menlo Park, CA",-1.0,-1,$80K-$90K (Glassdoor est.),-1,-1,-1,80,90,85.0
1509,Gayathri's Sandbox,-1,-1,-1,-1,Experiment engineers will be expected to help ...,Data Scientist,"Menlo Park, CA",-1.0,-1,$80K-$90K (Glassdoor est.),-1,-1,-1,80,90,85.0
1524,Point72 Ventures,-1,-1,-1,-1,About Our AI/ML Team\n\nOur mission is to buil...,Data Scientist,"Palo Alto, CA",-1.0,-1,$80K-$90K (Glassdoor est.),-1,-1,-1,80,90,85.0
1527,Amazon Corporate LLC,-1,-1,-1,-1,At Amazon we strive to be earth's most custome...,Data Scientist,"Seattle, WA",-1.0,-1,$80K-$90K (Glassdoor est.),-1,-1,-1,80,90,85.0
1545,Smart Staffing Services DBA Smart-Tek,-1,-1,-1,-1,"Position Data Scientist Location Manchester, N...",Data Scientist,"Manchester, NH",-1.0,-1,$93K-$123K (Glassdoor est.),-1,-1,-1,93,123,108.0
1547,SentiLink,-1,-1,-1,-1,"As a Data Scientist at SentiLink, you will be ...",Data Scientist,"San Francisco, CA",-1.0,-1,$93K-$123K (Glassdoor est.),-1,-1,-1,93,123,108.0
1562,Edward Daniels Group,-1,2007,"New York, NY",IT Services,Are you a Data Scientist that is interested in...,Data Scientist - Leading Quant Hedge Fund,"New York, NY",-1.0,$1 to $5 million (USD),$93K-$123K (Glassdoor est.),Information Technology,1 to 50 employees,Company - Private,93,123,108.0
1580,CompuForce,-1,-1,"New York, NY",-1,CompuForce is seeking an experienced and highl...,Data Scientist,"New York, NY",-1.0,Unknown / Non-Applicable,$76K-$109K (Glassdoor est.),-1,Unknown,Company - Private,76,109,92.5
1585,3 Key Consulting,-1,2009,"Simi Valley, CA",-1,Job Title: Data Scientist (JP7125)\nLocation: ...,Data Scientist,"Thousand Oaks, CA",-1.0,$1 to $5 million (USD),$76K-$109K (Glassdoor est.),-1,1 to 50 employees,Company - Public,76,109,92.5
1596,Global Fishing Watch,-1,-1,-1,-1,Data Scientist – Global Fishing Watch\n\nGener...,Data Scientist,"Oakland, CA",-1.0,-1,$76K-$109K (Glassdoor est.),-1,-1,-1,76,109,92.5
1606,TransReach,-1,-1,"East Brunswick, NJ",-1,Work experience as a Python Developer\nExperti...,Data Scientist,"San Francisco, CA",-1.0,Unknown / Non-Applicable,$53K-$71K (Glassdoor est.),-1,Unknown,Company - Private,53,71,62.0
1608,Adyen N.V.,-1,-1,-1,-1,This is Adyen\n\nWe took an unobvious approach...,Data Scientist,"Amsterdam, NY",-1.0,-1,$53K-$71K (Glassdoor est.),-1,-1,-1,53,71,62.0
1611,Dew Softech Inc,-1,-1,"Newark, DE",Computer Hardware & Software,"Company Dew Softech Inc\nLocation Pittsburgh, ...",Data Scientist,"Pittsburgh, PA",-1.0,$1 to $5 million (USD),$53K-$71K (Glassdoor est.),Information Technology,1 to 50 employees,Company - Private,53,71,62.0
1614,B4Corp,-1,-1,"Leesburg, VA",IT Services,Description:\n\nPosition Requires a Top Secret...,Data Scientist,"Reston, VA",-1.0,Unknown / Non-Applicable,$53K-$71K (Glassdoor est.),Information Technology,51 to 200 employees,Company - Private,53,71,62.0
1615,Zurich NA,-1,-1,-1,-1,*Data Scientist**\n*Description**\nZurich Nort...,Data Scientist,"Jersey City, NJ",-1.0,-1,$53K-$71K (Glassdoor est.),-1,-1,-1,53,71,62.0
1617,Divvy Homes,-1,-1,"San Francisco, CA",Real Estate,"Why Divvy?\n\nOver the past decade, millions o...",Data Scientist,"San Francisco, CA",-1.0,Unknown / Non-Applicable,$53K-$71K (Glassdoor est.),Real Estate,1 to 50 employees,Company - Private,53,71,62.0
1633,TECHstaff Resources,-1,-1,"Huntington, NY",-1,Job Description\nOur client is looking for str...,Data Scientist,"Jericho, NY",-1.0,Unknown / Non-Applicable,$99K-$141K (Glassdoor est.),-1,Unknown,Company - Public,99,141,120.0
1635,"Dobra Resources, Inc",-1,-1,-1,-1,We are an innovative information security comp...,Data Scientist,"Columbia, MD",-1.0,-1,$99K-$141K (Glassdoor est.),-1,-1,-1,99,141,120.0
1644,Headway Tek Inc,-1,-1,-1,-1,Job Description Data Scientist Location Seattl...,Data Scientist,"Seattle, WA",-1.0,-1,$99K-$141K (Glassdoor est.),-1,-1,-1,99,141,120.0
1677,Galecki Search Associates,-1,-1,"Dallas, TX",-1,Our growing Property & Casualty consulting cli...,Data Scientist,"Atlanta, GA",-1.0,Unknown / Non-Applicable,$61K-$97K (Glassdoor est.),-1,1 to 50 employees,Unknown,61,97,79.0
1685,Seen by Indeed,-1,-1,"Austin, TX",-1,With one application you can be considered for...,Data Scientist,"Pittsburgh, PA",-1.0,Unknown / Non-Applicable,$61K-$97K (Glassdoor est.),-1,Unknown,Company - Private,61,97,79.0
1753,OneThree Biotech,-1,-1,"New York, NY",-1,OneThree Biotech is a VC backed startup workin...,Lead Data Engineer,"New York, NY",-1.0,Unknown / Non-Applicable,$83K-$101K (Glassdoor est.),-1,1 to 50 employees,Unknown,83,101,92.0
1785,OneThree Biotech,-1,-1,"New York, NY",-1,OneThree Biotech is a VC backed startup workin...,Lead Data Engineer,"New York, NY",-1.0,Unknown / Non-Applicable,$83K-$101K (Glassdoor est.),-1,1 to 50 employees,Unknown,83,101,92.0
1817,OneThree Biotech,-1,-1,"New York, NY",-1,OneThree Biotech is a VC backed startup workin...,Lead Data Engineer,"New York, NY",-1.0,Unknown / Non-Applicable,$83K-$101K (Glassdoor est.),-1,1 to 50 employees,Unknown,83,101,92.0
1849,OneThree Biotech,-1,-1,"New York, NY",-1,OneThree Biotech is a VC backed startup workin...,Lead Data Engineer,"New York, NY",-1.0,Unknown / Non-Applicable,$83K-$101K (Glassdoor est.),-1,1 to 50 employees,Unknown,83,101,92.0
1881,OneThree Biotech,-1,-1,"New York, NY",-1,OneThree Biotech is a VC backed startup workin...,Lead Data Engineer,"New York, NY",-1.0,Unknown / Non-Applicable,$83K-$101K (Glassdoor est.),-1,1 to 50 employees,Unknown,83,101,92.0
1913,OneThree Biotech,-1,-1,"New York, NY",-1,OneThree Biotech is a VC backed startup workin...,Lead Data Engineer,"New York, NY",-1.0,Unknown / Non-Applicable,$83K-$101K (Glassdoor est.),-1,1 to 50 employees,Unknown,83,101,92.0
1945,OneThree Biotech,-1,-1,"New York, NY",-1,OneThree Biotech is a VC backed startup workin...,Lead Data Engineer,"New York, NY",-1.0,Unknown / Non-Applicable,$83K-$101K (Glassdoor est.),-1,1 to 50 employees,Unknown,83,101,92.0
1977,OneThree Biotech,-1,-1,"New York, NY",-1,OneThree Biotech is a VC backed startup workin...,Lead Data Engineer,"New York, NY",-1.0,Unknown / Non-Applicable,$83K-$101K (Glassdoor est.),-1,1 to 50 employees,Unknown,83,101,92.0

In [62]:
gd['Company Name']=gd.apply(lambda x: x['Company Name'] if x['Rating']<0 else x['Company Name'][:-3],axis=1)

### Separate city and state

In [122]:
gd['City']=gd['Location'].apply(lambda x:x.split(",")[0])

In [123]:
gd['State']=gd['Location'].apply(lambda x : x.split(',')[1] if len(x.split(','))>1 else x.split(',')[0]  )

In [149]:
gd[gd['State'].str.len()>3]['State'].value_counts()

Winnipeg           14
New York State     12
Toronto            10
Remote              5
Oregon              4
North Vancouver     4
United States       4
Nebraska            3
New Jersey          3
 Los Angeles        2
Edmonton            2
Richmond            2
Virginia            1
California          1
Maryland            1
Poland              1
Name: State, dtype: int64

In [ ]:
#parse Revenue
#calculate company age
#parse the description
#parse company size